body{
    font-family: $font-family;
}

.container{
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding-right: $gutter;
    padding-left: $gutter;
}

a{
    color: $color-navy;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
.button{
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    height: $finger-size;
    color: white;
    background-color: transparent;
    border-radius: $border-radius;

    &-icon{
        color: black;
        justify-content: center;
        width: $finger-size;
        padding-left: 0;
        padding-right: 0;
    }

    &-blue{
        color: white;
        background-color: $color-blue;
    }
}


